<div id="butler-overlay" class="{{skin}}" >
    <div id="sidebar-hover-area"></div>
          <div class="sidebar-tabs-help-tip" id="sidebar-tabs-help" data-id="{{this.id}}" style="display:none">
            <svg class="deco-line" height="200" width="350">
                <line x1="135" y1="45" x2="135" y2="15"></line>
                <line x1="77" y1="65" x2="135" y2="45"></line>
                <line x1="165" y1="65" x2="165" y2="15"></line>
                <line x1="77" y1="87" x2="165" y2="65"></line>
                <line x1="190" y1="85" x2="190" y2="15"></line>
                <line x1="77" y1="110" x2="190" y2="85"></line>
                <line x1="215" y1="105" x2="215" y2="15"></line>
                <line x1="77" y1="133" x2="215" y2="105"></line>
                <line x1="325" y1="130" x2="325" y2="15"></line>
                <line x1="77" y1="157" x2="325" y2="130"></line>
            </svg>
            <div class="sidebar-tabs-help-text">
                <p><em>Right-click a sidebar tab to pop it out.</em></p>
                <p>Track initiative and combat rounds</p>
                <p>Character Sheets</p>
                <p>Items, Spells and Abilities</p>
                <p>Documents and Images</p>
                <p>Configure settings and change options</p>
                
            </div>
        </div>
    
    <div class="macro-bar-help-tip" id="macro-bar-help" data-id="{{this.id}}" >
        <svg class="deco-line" height="150" width="200">
            <line x1="50" y1="25" x2="15" y2="150"></line>
            <line x1="50" y1="25" x2="170" y2="25"></line>
        </svg>
        <p class="macro-bar-help-text">The Macro folder contains any macros your GM has set up for you to use.</p>
        <p class="hotbar-help-text">The Macro bar contains any macro functions you or your GM have configured.
            <br>In most systems, dragging an item or actor to the bar allows you to quickly use it.</p>
    </div>
    <div class="chat-box-help-tip" id="chat-box-help" data-id="{{this.id}}">
    <div class="roll-mode-help-tip" id="roll-mode-help" data-id="{{this.id}}">
        <svg class="deco-line" height="100" width="200">
            <line x1="50" y1="36" x2="0" y2="15"></line>
            <line x1="50" y1="36" x2="100" y2="45"></line>
        </svg>
        <div class="roll-mode-help-text">
            <p>Roll modes:</p>
            <p>Normal - visible to all players</p>
            <p>GM - visible only to you and the GM</p>
            <p>Blind - visible only to the GM</p>
            <p>Self - visible only to you</p>
        </div>
    </div>
    
        <svg class="deco-line" height="100" width="400">
            <line x1="-5" y1="30" x2="345" y2="30"></line>
            <line x1="345" y1="30" x2="395" y2="5"></line>
        </svg>
        <div class="chat-box-help-text">
            <p>Chat entry is used to enter commands and talk to other users</p>
            <p>/ indicates a command, all other messages are assumed to be "in character"</p>
            <div class="chat-box-help-columns">
            <p>/ooc - send an out of character message</p>
            <p>/w user - send a user a private message</p>
            <p>/em (/me) - send a described action</p>
            <p>/roll (/r) - roll a die (ex: 1d20+5)</p>
            </div>

        </div>
    </div>
    <!--
    <div class="combat-tracker-help-tip" id="combat-tracker-help" data-id="{{this.id}}">
        <div class="combat-tracker-help-tip" id="combat-tracker-help" data-id="{{this.id}}">
            <svg class="deco-line" height="100" width="200">
                <line x1="50" y1="36" x2="0" y2="15"></line>
                <line x1="50" y1="36" x2="100" y2="45"></line>
            </svg>
            <div class="combat-tracker-help-text">
                <p>Combat Tracker</p>
            </div>
        </div>
    </div>
        -->
    <div class="toolbar-menu-help" id="toolbar-menu-help" >
    <div class="token-menu-help-tip" id="token-menu-help" data-id="{{this.id}}" style="display:none">
        <div class="token-menu-help-text">
            <p>Token Controls: used for interacting with Tokens on a scene</p>
            <p>Select - Select and control one or more tokens</p>
            <br>
            <p>Target - mark one or more tokens as your target</p>
            <br>
            <p>Measure - measure the grid</p>
            <p>ctrl(or cmd)+click adds waypoints</p>
            <p>space to execute a move</p>
        </div>
    </div>

    <div class="template-menu-help-tip" id="template-menu-help" data-id="{{this.id}}" >
        <div class="template-menu-help-text">
            <p>Measurement Controls - for placing templates of a measured distance</p>
            <p>Circle - click and drag to place a circular template</p>
            <br>
            <p>Cone - click and drag to place a conical template</p>
            <br>
            <p>Rectangle - click and drag to place a rectangular template</p>
            <br>
            <p>Line - click and drag to place a linear template</p>
        </div>
    </div>
    
    <div class="notes-menu-help-tip" id="notes-menu-help" data-id="{{this.id}}">
        <div class="notes-menu-help-text">
            <p>Journal Notes - View pinned notes on the current scene</p>
            <p>Select - click and drag to select one or more map notes</p>
            <br>
            <p>Toggle Display - click to make notes visible on every layer</p>
            <br>
        </div>
    </div>
</div>
    
<div class="token-help-frame-tip" id="token-help-frame" data-id="{{this.id}}" >
    <div class="token-help-left">
        <p><strong>Movement</strong></p>
        <p>Arrow keys</p>
        <p>Click and Drag</p>
        <p><strong>Measured Move</strong></p>
        <p>Ctrl(cmd)+Click & Drag</p>
        <p>Click to place waypoints</p>
        <p>(space to execute)</p>
        <p><strong>Rotate</strong></p>
        <p>Ctrl(CMD) or Shift+scrollwheel</p>
    </div>

    <div class="token-help-right">
        <p><strong>Open HUD</strong></p>
        <p>Right-click </p>
        <p><strong>Status Effects</strong></p>
        <p>Left-click: small icon</p>
        <p>Right-click: large icon</p>
        <p><strong>Bar Controls</strong></p>
        <p>If your GM has enabled bars on your token, modifying the numbers will quickly change them. (accepts +# or -#)
        </p>
        <br>
    </div>
    <div id="token-help-center">
    <div class="token-help-center-left">
        <p><strong>Double-Click</strong></p>
        <p>Open Actor sheet</p>
    </div>
    <div class="token-help-center-right">
        <p><strong>Double Right-Click</strong></p>
        <p>Open Token config</p>
    </div>
</div>
</div>
</div>
