@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.butler-hide {
  display:none;
}
    
#butler-overlay {
  position: absolute;
  display: flex;
  pointer-events: none;
  height: 100%;
  width: 100%;
  z-index:99999;  
  font: .90rem Ubuntu;
  color: rgba(225,225,200,.85);
  filter: drop-shadow(2px 2px 2px black);
 }
 
 #macro-bar-help {
  z-index: 900;
  position: fixed;
  bottom: 25px;
  left: 225px;
  width: 600px;
  height: 150px;
  pointer-events: none;
 }
 .macro-bar-help-text{
  position: fixed;
  bottom: 125px;
  left: 285px;
  width: 600px;

 }
 .hotbar-help-text{
  position: fixed;
  bottom: 60px;
  left: 265px;
  width: 600px;

 }
 
 .deco-line {
  stroke: rgba(225,225,200,.85);
  stroke-width: 1px;
  filter: drop-shadow(1px 1px 2px black);
 }
 
 #roll-mode-help {
  position: fixed;
  right: 170px;
  bottom: 75px;
  z-index: 100;
 }
 .roll-mode-help-text{
  position: absolute;
  bottom: 90px;
  left: -175px;
  width: 600px;

   
 }
 
 #sidebar-hover-area {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 150px;
  width: 400px;
 }
 
 #sidebar-tabs-help {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 150px;
  width: 400px;
 }
 
 .sidebar-tabs-help-text { 
  position: absolute;
  text-align: right;
  top: 25px;
  right: 325px;
  width: 300px;

 
 }
 
 #combat-tracker-help {
 
  position: fixed;
  right: 285px;
  bottom: 10px;
  z-index: 100;

 }
 .combat-tracker-help-text{
  position: absolute;
  text-align: right;
  top: 25px;
  right: 40px;
  width: 540px;

   
 }
 
 #chat-box-help {
  position: fixed;
  right: 285px;
  bottom: 10px;
  z-index: 100;

 }
 .chat-box-help-text{
  position: absolute;
  text-align: right;
  top: 25px;
  right: 40px;
  width: 540px;

   
 }
 .chat-box-help-columns{
   columns:2;
   margin:0;
 }
 .chat-box-help-columns p{
  margin:0;
}
 
#controls > li.scene-control {
  background: rgba(50,50,50,0.6)
 }

 #toolbar-menu-help {

 }
 
 #token-menu-help {

  position: fixed;
  top: 200px;
  left: 40px;
 }


 .token-menu-help-text {
  
  position: fixed;
  top: 50px;
  left: 110px;

  border: .5px dashed;
  padding: 2px;
  border-radius: 10px;
 }
 
 #template-menu-help {
  display: none;
  position: fixed;
  top: 200px;
  left: 40px;
 }
 
 .template-menu-help-text {
  position: fixed;
  top: 50px;
  left: 110px;

  border: .5px dashed;
  padding: 2px;
  border-radius: 10px;
 }
 
 #notes-menu-help {
  display: none;
  position: fixed;
  top: 200px;
  left: 40px;
 }
 
 .notes-menu-help-text {
  position: fixed;
  top: 50px;
  left: 110px;

  border: .5px dashed;
  padding: 2px;
  border-radius: 10px;
 }
 
 #token-help-frame {
   
  display: none;
  position: absolute;
  font: .90rem Ubuntu;
  color: rgba(225,225,200,.85);
  filter: drop-shadow(2px 2px 2px black);
  
 }
 
 .token-help-left {
  text-align: right;
  width: 175px;
  position: absolute;
  top: 50px;
  left: -75px;

 }
  
 .token-help-right {
  text-align: left;
  width: 175px;
  position: absolute;
  top: 50px;
  right: 25px;

 }
 
 .token-help-center-left {
  text-align: right;
  width: 175px;
  position: absolute;
  top: -10px;
  left: 25px;

 }
 
 .token-help-center-right {
  text-align: left;
  width: 175px;
  position: absolute;
  top: -10px;
  right: 125px;

 }
 
 
 
 .notes-menu-help-text {
  position: fixed;
  top: 50px;
  left: 110px;

  border: .5px dashed;
  padding: 2px;
  border-radius: 10px;
 }
  
/*# sourceMappingURL=style.css.map */